/* SHARED */

.container {
  margin: auto;
  width: 992px;
}

header {
  background-color: #588157;
  opacity: 0.8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.company-name {
  text-transform: uppercase;
  margin-left: 66px;
  font-size: 26px;
  font-weight: 700;
}

.company-name a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 64px;
}

nav ul li a {
  margin: 0 16px;
  opacity: 100;
  padding: 6px;
  font-size: large;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: #dad7dc;
  background-color: #588157;
  font-weight: 600;
}

#hero-img {
  margin-left: 5%;
  width: 90%;
  height: 360px;
  border-radius: 2%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
}

.hero {
  padding: 32px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #dad7dc;
}

.btm-nav {
  text-decoration: none;
  color: inherit;
}

.btm-nav:hover {
  color: #dad7dc;
  background-color: #588157;
  font-weight: 600;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #588157;
  height: 111px;
  bottom: 0;
}

footer nav {
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr 1fr 15%;
  padding: 10px 6px;
}

/* END OF SHARED */

.textbox {
  text-align: center;
  font-size: 17px;
  color: beige;
  line-height: 2.2;
  background-color: rgba(88, 129, 87, 95%);
  padding: 10px;
  border: 5px solid white;
  margin-bottom: 25px;
}

.backgroundimg {
  background-image: url("/img/pattern.png");
  padding: 5%;
}

.textbox li {
  list-style-type: none;
  margin-left: -50px;
}

li span {
  font-weight: bold;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}